{% load staticfiles %}
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<div>
    <h1><a href="{% url 'blog:blog_index'%}">None But a Naturalist</a></h1>
</div>

{% if latest_post_list %}
    <ul>
    {% for post in latest_post_list %}
        <li><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
